<footer class="row">
    <!-- left side footer for large screen -->
    <ul class="left-footer visible-lg visible-md row col-md-9 col-lg-9">
        <li class="main-list col-md-3">
            <span>About Us</span>
            <ul>
                <li>Our Story</li>
                <li>Baby Registry</li>
                <li>Store Location</li>
                <li>Testimonials</li>
            </ul>
        </li>
        <li class="main-list col-md-3">
            <span>Service</span>
            <ul>
                <li>Contact Us</li>
                <li>FAQ</li>
                <li>Shipping Policy</li>
                <li>Return Policy</li>
                <li>Newsletter</li>
                <li>My Account</li>
                <li>Live Chat</li>
            </ul>
        </li>
        <li class="main-list col-md-3">
            <span>Shop</span>
            <ul>
                <li>BABY APPAREL </li>
                <li>BABY GIFTS</li>
                <li>CHRISTENING</li>
                <li>FURNITURE</li>
                <li>BEDDING</li>
                <li>DECOR</li>
                <li>LIGHTING</li>
                <li>SALE</li>
                <li>BRANDS</li>
            </ul>
        </li>
        <li class="main-list-addrees col-md-3">
            <span>Contact Us</span>
            <ul>
                <li>
                    <span>BABY APPAREL</span>
                    <p>4472 Lawn Avenue Western Springs,</p>
                    <p> IL. 60558 708.246.1212</p>
                </li>
                <li>
                    <span>STORE HOURS:</span>
                    <p>Monday - Friday 10am - 5:30pm </p>
                    <p>Saturday - 10am - 5pm </p>
                    <p>Sunday - Closed</p>
                </li>
            </ul>
        </li>
    </ul>
    <!-- left side footer for small screen -->
    <div class="panel-group  jumbotron col-sm-12 hidden-lg hidden-md" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        About Us
                    </a>
                </h4>
            </div>
            <div id="collapse-one" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li><a>Our Story</a></li>
                        <li><a>Baby Registry</a>
                        </li>
                        <li><a>Store Location</a>
                        </li>
                        <li><a>Testimonials</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </a>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Service
                    </a>
                </h4>
            </div>
            <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li><a>Contact Us</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Shipping Policy</a></li>
                        <li><a>Return Policy</a></li>
                        <li><a>Newsletter</a></li>
                        <li><a>My Account</a></li>
                        <li><a>Live Chat</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        Shop
                    </a>
                </h4>
            </div>
            <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li><a>BABY APPAREL </a></li>
                        <li><a>BABY GIFTS</a></li>
                        <li><a>CHRISTENING</a></li>
                        <li><a>FURNITURE</a></li>
                        <li><a>BEDDING</a></li>
                        <li><a>DECOR</a></li>
                        <li><a>LIGHTING</a></li>
                        <li><a>SALE</a></li>
                        <li><a>BRANDS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                       Contact Us
                    </a>
                </h4>
            </div>
            <div id="collapse-four" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <li>
                            <span>BABY APPAREL</span>
                            <p>4472 Lawn Avenue Western Springs,</p>
                            <p> IL. 60558 708.246.1212</p>
                        </li>
                        <li>
                            <span>STORE HOURS:</span>
                            <p>Monday - Friday 10am - 5:30pm </p>
                            <p>Saturday - 10am - 5pm </p>
                            <p>Sunday - Closed</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-footer col-lg-3  col-md-3 col-sm-12">
        <p class="highlight-text">Follow Us</p>
        <ul class="row">
            <li class="col-xs-2">
                <a href="">
                    <div class="fb"></div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="">
                    <div class="tw"></div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="">
                    <div class="pi"></div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="">
                    <div class="yu"></div>
                </a>
            </li>
            <li class="col-xs-2">
                <a href="">
                    <div class="go"></div>
                </a>
            </li>
        </ul>
        <br/>
        <p class="highlight-text">Newsletter</p>
        <p class="italic">Get the latest promotions and special offers</p>
        <p class="italic">delivered directly to your inbox!</p>
        <div class="input-with-btn">
            <input type="text" class="pull-left" id="input" placeholder="Email me..." value>
            <button class="bb-button pull-right">Send</button>
        </div>
    </div>
</footer>