<!-- items list -->
<div class="container-fluid text-center jumbotron">
    <div class="row items-container">
        <div class="col-sm-6 col-md-3 item">
            <p class="highlight-text">Featured Products</p>
            <p>Lorem ipsum dolor sit amet, eu ius erat commune, facer semper sea ad.</p>
            <a href="" class="bb-button">See more</a>
        </div>
        <div class="itemsList">
            <% data.items.itemsList.each do |item| %>
               <div class="col-sm-6 col-md-3 item">
                <%= image_tag(item.image) %>
                    <p><%= item.name %></p>
                    <span><%= item.price %></span>
                </div>
            <% end %>
         </div>
   </div>
</div>